{% extends "layouts/base-layout.njk" %}

{% block content %}
{{ content | safe }}

<div id="post-date">Last updated: <i>{{ page.date.toUTCString() }}</i><br></div>
<a href="/posts/">Return to all posts</a>
{% endblock %}